# System files
# ------------

Icon
.DS_Store

# Temporary files
# kirby /site: accounts cache sessions 
/site/accounts/*
!/site/accounts/index.html
/site/cache/*
!/site/cache/index.html
/site/sessions/*
!/site/sessions/index.html
# kirby /media
/media/*
!/media/index.html
# ---------------
.lock

# License
# ---------------
/site/config/.license

# Workspace files are user-specific
*.sublime-workspace
*.sublime-workspace
